<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem action="view_whatsapp_connector_conversation_tag_action"
            id="view_whatsapp_connector_conversation_tag_menu"
            parent="whatsapp_connector.whatsapp_connector_settings_menu"
            sequence="140"/>
    </data>
</odoo>
